.formHeader {
    margin: 50px auto 50px;
    max-width: 800px;
    width: 95%;
    text-align: center;
}

.formHeader h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.formHeader p {
    margin: 10px 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    max-width: 800px;
    width: 95%;
    margin: 0 auto 50px;
}

label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

input {
    background-color: var(--black);
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    margin: 5px 0;
}

label p {
    color: #999;
    font-style: italic;
}

.generationType {
    text-align: center;
    margin-bottom: 10px;
}

.generationType button {
    margin: 5px;
}

.logsButton {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.caddyLog {
    width: 100%;
    background-color: var(--black);
    border: 1px solid var(--white);
    position: fixed;
    inset: 0;
    z-index: 1;
    display: none;
    overflow-y: scroll;
    padding-bottom: 5rem;
}

.show {
    display: block !important;
}

.caddyTitleBar {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeCaddy {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x {
    width: 30px;
    height: 2px;
    background-color: var(--white);
  }
  
  .x1 {
    transform: rotate(45deg);
  }
  
  .x2 {
    transform: rotate(-45deg) translateY(-2px) translateX(1px);
  }
  

.caddyCard {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.caddyCard h4 {
    margin: 1rem;
}

.caddyCard pre {
    margin: 1rem;
    font-family: inherit;
    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.nores {
    margin: 1rem;
}

.formButtons {
    text-align: center;
    margin: 2rem 0;
    display: flex;
}

.formButtons button {
    margin: 5px;
}

@media (max-width: 370px) {
    .formButtons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}