.formHeader {
    margin: 50px auto 25px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    max-width: 800px;
    width: 95%;
    margin: 0 auto 50px;
}

label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

input {
    background-color: var(--black);
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    margin: 5px 0;
}

label p {
    color: #999;
    font-style: italic;
}

.generationType {
    text-align: center;
}

.logsButton {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.caddyLog {
    width: 90%;
    background-color: var(--black);
    border: 1px solid var(--white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    height: 80vh;
    z-index: 1;
    display: none;
}

.show {
    display: block !important;
}

.caddyTitleBar {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeCaddy {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x {
    width: 30px;
    height: 2px;
    background-color: var(--white);
  }
  
  .x1 {
    transform: rotate(45deg);
  }
  
  .x2 {
    transform: rotate(-45deg) translateY(-2px) translateX(1px);
  }
  

.caddyCard {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 5px;
}

.caddyCard h4 {
    margin: 1rem;
}

.caddyCard p {
    margin: 1rem;
}

.nores {
    margin: 1rem;
}